<!-- User Info -->
<div class="flex items-center space-x-3">
    <!-- User Name -->
    <span class="text-sm font-medium text-gray-700 dark:text-gray-300" *ngIf="user?.name">
        {{user.name}}
    </span>
    
    <!-- Avatar Button -->
<button
    mat-icon-button
    [matMenuTriggerFor]="userActions">
    <span class="relative">
        <img
            class="w-7 h-7 rounded-full"
                *ngIf="showAvatar && user?.avatar"
            [src]="user.avatar">
        <mat-icon
                *ngIf="!showAvatar || !user?.avatar"
            [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>

    </span>
</button>
</div>

<mat-menu
    [xPosition]="'before'"
    #userActions="matMenu">
    <button mat-menu-item>
        <span class="flex flex-col leading-none">
            <span>Ви увійшли як</span>
            <span class="mt-1.5 text-md font-medium">
                {{user?.email || 'Користувач'}}
            </span>
        </span>
    </button>
    <mat-divider class="my-2"></mat-divider>
    <button mat-menu-item>
        <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
        <span>Профіль</span>
    </button>
    <button mat-menu-item>
        <mat-icon [svgIcon]="'heroicons_outline:cog-8-tooth'"></mat-icon>
        <span>Налаштування</span>
    </button>
    <mat-divider class="my-2"></mat-divider>
    <button
        mat-menu-item
        (click)="signOut()">
        <mat-icon [svgIcon]="'heroicons_outline:arrow-right-on-rectangle'"></mat-icon>
        <span>Вийти</span>
    </button>
</mat-menu>
